<?xml version="1.0"?>
<phpunit
    bootstrap="vendor/autoload.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="true"
    processIsolation="false"
    stopOnFailure="false"
    strict="false"
    syntaxCheck="true"
>
    <testsuite name="Speckcommerce Cart tests">
        <directory>./tests/SpeckcommerceTest</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
