<phpunit bootstrap="./Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="SpeckCart Test Suite">
            <directory>./SpeckCartTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
        </whitelist>
    </filter>
</phpunit>
