<?php

return array(
    'modules' => array(
        'SpeckCart',
//        'SpeckPI',
        'ZfcBase',
    ),
    'module_listener_options' => array(
        'extra_config' => array(
            'service_manager' => array (
                'factories' => array (
                    'zend\\db\\adapter\\adapter' => 'Zend\\Db\\Adapter\\AdapterServiceFactory',
                    'speckcart_test_mapper' => function ($sm) {
                        $pathToFile = __DIR__ . '/_files/test_tables.sqlite.php';
                        $schema = include($pathToFile);
                        $mapper = new \SpeckCartTest\Mapper\TestAsset\TestMapper;
                        $mapper->setSchema($schema);
                        $mapper->setDbAdapter($sm->get('speckcart_db_adapter'));
                        return $mapper;
                    },
                ),
                'initializers' => array(
                    function($instance, $sm){
                        if ($instance instanceof \SpeckCatalog\Mapper\DbAdapterAwareInterface) {
                            $dbAdapter = $sm->get('speckcart_db_adapter');
                            $instance->setDbAdapter($dbAdapter);
                        }
                    },
                ),
            ),
            'db' => array (
                'driver' => 'pdo',
                'dsn' => "sqlite::memory:",
                'driver_options' => array(
                    1002 => 'SET NAMES \'UTF8\'',
                ),
            ),
        ),
        'module_paths' => array(
            'vendor',
            //'devmodules',
        ),
    ),
);
